.row{
    padding: 20px;
}
div{
    background-color: rgb(121, 194, 194);
}
/*Estilo foto de perfil*/
@media(min-width: 576px){
    #fotodeperfil{
        position: absolute;
        box-shadow: 3px 3px 3px black;
        border-radius: 110%;
        width: 13%;
        left: 3%;
        top: 550px;
    }
    
}
@media(max-width: 575px){
    #fotodeperfil{
        position: absolute;
        box-shadow: 3px 3px 3px black;
        border-radius: 100%;
        width: 30%;
        left: 50%;
        top: 880px;
    }
}
/*Nombre de etiqueta*/
 
#nombre{
    font-weight: bold;
    margin-top: 30px;
}